/*-- scss:functions --*/

/*-- scss:defaults --*/

$badge-font-size:                   .65em;
$badge-padding-y:                   .25em;
$badge-padding-x:                   .45em;

/*-- scss:rules --*/

//.blurb {
//  font-size: 120%;
//}

.label:has(+ .form) {
  flex-shrink: unset !important;
}

form > label, .label:has(+ .form) {
  font-weight: bold;
  line-height: normal;
}

.panel-input {
  border-radius: 0.5rem;
}

.panel-input .filters-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding-right: 0px;
  font-size: 0.85rem;
  
  label {
    width: auto !important;
  }
}

.panel-input .side-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 1em;
  padding-right: 0px;
}

.plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plot-inputs {
  display: flex;
  column-gap: 1em;
  max-width: calc(700px - 40px);
}

.plot-inputs form {
  width: unset !important;
}

.quarto-layout-row {
  margin-bottom: 1em;
}

.quarto-layout-panel {
  margin-bottom: 0em;
}

div[id^='O-scope-']{
  flex-wrap: wrap !important;
}

.filter-error { 
  font-size: 90%;
  font-style: italic;
  //border: 1px solid #dee2e6;
  padding: 0.25rem;
}

.observablehq--error {
  //display: none;
}

div.cell-output-display .btn-quarto {
  --bs-btn-hover-bg: #3b99fc;
  --bs-btn-bg: #3b99fc;
  border: none;
  border-radius: 0.5rem;
}

// hide checkboxes in Inputs.table
//table input {
//  display: none
//}

th {
  align-content: end;
}

.sparkbar {
  background: lightblue;
  float: right;
  padding-right: 3px;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  justify-content: end;
}

//.callout.callout-titled .callout-body>:last-child:not(.sourceCode), .callout.callout-titled .callout-body>div>:last-child:not(.sourceCode) {
.callout.callout-titled .callout-body>:last-child:not(.sourceCode), .callout.callout-titled .callout-body>div>:last-child:not(.sourceCode) {
  padding-bottom: 0;
}

.callout.callout-style-default .callout-body>:first-child {
  padding-top: .25rem;
}

.pullout {
  font-size: 0.9em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  //white-space: pre-line;
  
  p {
    margin-bottom: 0.25rem;
  }
}

.output-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.header-icon {
  padding-right: 0.35em;
  color: var(--bs-primary);
}

.callout div.sourceCode {
  margin-top: 0;
}
